<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <div class="form-container">
        <form action="/course/add" method="post">
            <div class="form-section">
                <div class="form-row">
                    <div class="form-column">
                        <label for="courseCode">Course Code</label>
                        <input type="text" id="courseCode" name="courseCode" required>
                    </div>
                    <div class="form-column">
                        <label for="courseDescription">Course Description</label>
                        <input type="text" id="courseDescription" name="courseDescription" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="submit-button">Add Course</button>
        </form>
        </div>
        <!-- End your code here  -->
    </main>
</div>