

		<div class="container">
			<div class="row">
				<main class="col-md-12">


					<!-- Start your code here -->
					
					<h1>Welcome to my website</h1>
    

                      <article>
						<header>
							<h1>Welcome to My First Webpage</h1>
						</header>
		
						<section id="introduction">
							<p>Hi, I'm Heet Zadafiya. In this site, we'll explore HTML5 concepts, Express routing, and more.</p>
						</section>
		
						<section id="website-overview">
							<h2>Website Overview</h2>
							<p>This site includes 3 static pages (Home, About, HTML Demo) and 5 data routes:</p>
							<ul>
								<li><a href="/students">All Students</a></li>
								<li><a href="/students?course=1">Students by Course</a></li>
								<li><a href="/student/1">Student Details by ID</a></li>
								<li><a href="/tas">All Teaching Assistants</a></li>
								<li><a href="/courses">All Courses</a></li>
							</ul>
						</section>
		
						<section id="about-html5">
							<h2>About HTML5</h2>
							<p>HTML5 is the latest iteration of HTML, introducing new elements and attributes. It also
								encompasses a broader set of technologies that enable more complex and powerful web
								applications, such as new video formats.</p>
						</section>
                      </article>

					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>